<form method="post">
  <div>Name = <input name="name" value="<%= item.name %>" /></div>
  <div>Quantity = <input name="qty" value="<%= item.qty %>" /></div>
  <div>Amount = <input name="amount" value="<%= item.amount %>" /></div>
  <button>Save</button>
  <input type="hidden" value="<%= item.id %>" />
</form>
